doctype html
head
  title Get Otp
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script.
    function coppyPhone() {
    var copyText = document.getElementById("phone");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
    }
    function coppyOtp() {
    var copyText = document.getElementById("otpcode");
    copyText.select();
    copyText.setSelectionRange(0, 99999)
    document.execCommand("copy");
  
    }


.container.form-group
  h4 rentcode
  form.form-group(method='POST' action='/rentcode')
    .form-inline
      .form-group.row
        label(for='') Api Key
        input#apikey.form-control(type='text' name='apikey' placeholder='' value=RentCode_ApiKey  aria-describedby='helpId')
        label(for='') Sdt
        input#phone.form-control(type='text'  placeholder='' value=RentCode_Number aria-describedby='helpId')
        label(for='') Otp
        input#otpcode.form-control(type='text'  placeholder=''  value=Rentcode_Otp aria-describedby='helpId')
        button#create.btn.btn-primary( type='submit') create
  form(method='POST' action='/otprentcode')
      input#apikey.form-control(type='hidden' name='apikey' placeholder='' value=RentCode_ApiKey  aria-describedby='helpId')
      input#phone.form-control(type='hidden' name='phone' placeholder='' value=RentCode_Number aria-describedby='helpId')
      input.form-control(type='hidden' name='id' placeholder='' value=Rentcode_RequestId aria-describedby='helpId')
      button#create.btn.btn-primary( type='submit') GetOtp
  br
  button#phone.btn.btn-primary( onclick='coppyPhone()' ) copysdt
  br
  br   	
  button#copy.btn.btn-primary(onclick='coppyOtp()') copyOtp